<div>
        <div class="detail--margin text--standard text--bold block--darkergrey">Booking Summary</div>
        <div id="bmovie-name" class="detail--margin text--bold text--large">Avengers</div>
        <div class="text--medium block--grey text--bold"><span id="bmovie-date">September 3, 2019</span> - <span id="bmovie-time">19.40</span></div>
        <div class="seats-detail">
            <span class="block--align-left text--bold">Seats #<span id="number">1</span></span>
            <span class="block--right text--bold">Rp 45.000</span>
        </div>
        <div class="detail--margin">
            <button onclick="submitBooking();" type="submit" value="Submit" form="form1" class="booking-button">Buy Ticket</button>
        </div>
</div>